*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --light-red: #e63946;
    --very-light-blue: #f1faee;
    --light-blue: #a8dadc;
    --middle-blue: #457b9d;
    --dark-blue: #1d3557;
    --opaque-background: rgba(0, 0, 0, 0.6);
    --shadow: 0px 0px 0.5rem;
}


/* BODY */

body {
    /* Dimensions */
    gap: 1rem;
    width: 100vw;
    height: 100vh;

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    /* background */
    background-position: center;
    background-size: cover;
    background-color: var(--middle-blue);

    /*  */

}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* HEADER */
header {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Dimensions */
    width: 100%;
    height: max(25%, 350px);

    /* Border */
    border: 2px solid var(--dark-blue);
}

footer {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Dimensions */
    width: 100%;

    /*Border  */
    border: 2px solid red;
}

/* Search form */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Weather Card Container main CSS */



.card-container {
    /* Display */
    display: flex;
    flex-direction: column;
    /* Box computed */
    padding: 1.5rem;
    /* Box size */
    width: fit-content;
    /* Border */
    border: 1px solid white;
    box-shadow: var(--shadow);
    border-radius: 0.75rem;
    /* background */
    background-size: cover;
    background-color: var(--opaque-background);

}

.weather-section {
    width: min-content;
    border-radius: 0.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.area-info-container {
    border-radius: 0.75rem 0.75rem 0 0;
}



.area-info-container {
    display: flex;
}

p {
    color: white;
}

/* Card title and timeframe */

.timeframe {
    font-weight: bold;
    text-transform: uppercase;
}

.dt {
    font-size: small;
}

/* Temperature info*/

.curr-temp-container {
    display: flex;
    font-size: 2rem;
}



.temperature-container {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    width: 100%;
    gap: 4rem;
}





.weather-description {
    font-weight: bold;
}


.weather-main {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 2rem;
    font-size: 1rem;
    border-radius: 0 0 0.75rem 0.75rem;

}

.weather-main div p {
    font-weight: 500;
}

.km {
    display: flex;
}

.km p {
    margin: 0;
}

.wind-icon {
    width: 20px;
}

.info-icon {
    width: 1rem;
}

.weather-map-article {
    width: 600px;
    height: 600px;
}

/* week view */
.weekahead-view-container {
    display: flex;
    width: fit-content;
    gap: 1rem;
    /* overflow: hidden; */

}

.dayofweek-container {
    /* Display */
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    /* Box computed */
    padding: 1rem;
    /* Border */
    border: 1px solid white;
    border-radius: 0.75rem;
    /* Shadow */
    box-shadow: var(--shadow);
    /* Transition */
    transition: background-color 0.2s;
    /* Overflow */
}


/* 
.dayofweek-container.b {
    left: 100%;
}

.dayofweek-container.c {
    left: 200%;
}

.dayofweek-container.d {
    left: 300%;
}

.dayofweek-container.e  {
    left: 400%;
}

.dayofweek-container.f  {
    left: 500%;
}

.dayofweek-container.g  {
    left: 600%;
}

.dayofweek-container.h  {
    left: 700%;
} */



/* .test-div{
    border: 2px solid red;
    width: 650px;
    overflow: hidden;
    display: flex;
} */



.temp-container {
    /* Display */
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.weather-main-desc {
    margin: 0;
}

.weather-desc-cont {
    display: none;
}

.weather-desc-cont.a {
    display: block;
}

.left-side {
    display: flex;
    gap: 0.25rem;
}

.rain-icon {
    width: 1rem;
}

/*  EFFECTS ------------------- */

.dayofweek-container:hover {
    cursor: pointer;
    background-color: var(--opaque-background);
}